/*		Footer	*/
#footer-main {
    background-color: #F4743B;
  }
  
  .footer-container {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    gap: 20px;
  
    @media (max-width: 1200px) {
      padding: 40px 100px;
    }
  
    @media (max-width: 1000px) {
      padding: 40px 50px;
    }
  
    @media (max-width: 650px) {
      padding: 40px 50px;
    }
  
    @media (max-width: 420px) {
      padding: 40px 20px;
    }
  }
  

  .textlink {
    text-decoration: underline;
    padding: 0;
  }

  hr.divider {
    height: 1.5px;
    background-color: #ffffff; /* Farbe der Linie */
    border: none;
    max-width: 80px;
    margin: 0;
  }

  .smicon {
    max-width: 30px;
  }

  .footer-logo {
    flex: 4;
  }

  .footerlogo {
    max-width: 75%;

    @media (max-width: 900px){
      max-width: 50% vw;
      }
  }

  .footer-contact {
    flex: 3;
    @media (max-width: 900px){
      max-width: 50% vw;
      }
  }

  .footernav {
    flex: 3;
    @media (max-width: 900px){
      max-width: 50% vw;
      }
  }

  .footerlinks {
    flex: 2;
    @media (max-width: 900px){
      max-width: 50% vw;
      }
  }
  



  /* App download footer*/
  .app-download {
    background-color: #333333;
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
  }

  .download {
    max-width: 10%;
  }

  .store {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }