/*		Footer	*/
#footer-main {
    background-color: #F4743B;
  }
  
  .footer-container {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    gap: 20px;
    padding: 40px 150px;
  }
  @media (max-width: 1200px) {
    .footer-container {
    padding: 40px 100px;}
  }

  @media (max-width: 1000px) {
    .footer-container {
    padding: 40px 50px;}
  }

  @media (max-width: 900px) {
    .footer-container {
    flex-wrap: wrap;
    display: block;}
  }

  @media (max-width: 650px) {
    .footer-container {
    padding: 20px 50px;}
  }

  @media (max-width: 420px) {
    .footer-container {
    padding: 20px 20px;}
  }
  

  .textlink {
    text-decoration: underline;
    padding: 0;
  }

  hr.divider {
    height: 1.5px;
    background-color: #ffffff; /* Farbe der Linie */
    border: none;
    max-width: 80px;
    margin: 0;
    padding: 0;
  }

  .smicon {
    max-width: 30px;
  }

  .footer-logo {
    flex: 4;
  }

  .footerlogo {
    max-width: 300px;
  }
  @media (max-width: 900px){
    .footerlogo {
    max-width: 50% vw;}
    }

  .footer-contact {
    flex: 3;
  }
  @media (max-width: 900px){
    .footer-contact {
    max-width: 50% vw;
    margin: 20px 0;}
    }

  .footernav {
    flex: 3;
  }
  @media (max-width: 900px){
    .footernav {
    max-width: 50% vw;
    margin: 20px 0;}
    }

  .footerlinks {
    flex: 2;
  }
  @media (max-width: 900px){
    .footerlinks {
    max-width: 50% vw;
    margin: 20px 0;}
    }
    @media (max-width: 1200px) {
      .footerlinks {
      font-size: 13px;
      line-height: 21px;}
  }

  @media (max-width: 650px) {
    .footerlinks {
      font-size: 12px;
      line-height: 18px;}
  }
  



  /* App download footer*/
  .app-download {
    background-color: #333333;
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
  }
  .store img {
    width: 15%;
  }
  @media (max-width: 1000px) {
    .store img {
    width: 15vw;}
  }

  @media (max-width: 650px) {
    .store img {
    width: 20vw;}
  }

  @media (max-width: 420px) {
    .store img {
    width: 30vw;}
  }