header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
    @media (max-width: 1200px) {
        height: 70px;
    }
    @media (max-width: 830px) {
        height: 60px;
    }
    @media (max-width: 640px) {
        height: 50px;
    }
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
    gap: 40px;
    font-size: 20px;
        
        @media (max-width: 1200px) {
            font-size: 16px; /* Adjust font size for smaller screens */
        }
        @media (max-width: 670px) {
            font-size: 14px; /* Adjust font size for smaller screens */
        }
}

   a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
}


.outline-button {
   background-color: transparent;
    cursor: pointer;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 96px;
    border: 3px solid var(--vibrant-orange, #F4743B);

    @media (max-width: 1200px) {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
    @media (max-width: 670px) {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
    @media (max-width: 590px) {
        display: none;
    }
}

.outline-button:hover  {
   background-color:#F4743B;
   color: white;
}
.outline-button:hover > a{
    color: #fff;
}

.outline-button-link {
    font-weight: 700;
    color: var(--vibrant-orange, #F4743B);
    font-size: 20px;
        
        @media (max-width: 1200px) {
            font-size: 16px; /* Adjust font size for smaller screens */
        }
        @media (max-width: 670px) {
            font-size: 14px; /* Adjust font size for smaller screens */
        }
}
.outline-button-link:hover {
    color: white;
}

