 .funktion {
    max-width: 50%;    
 }
 @media (max-width: 650px) {
  .funktion {
  max-width: 100%;}
 }
 
 .teaser-angebot {
  margin: 80px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  flex-wrap: nowrap;}
  
  @media (max-width: 650px) {
    .teaser-angebot {
    display: block;}
}


 .vorteil {
    padding: 12px 0px;
 }

 .vorteil h4 {
   margin: 0;
 }
 .vorteil h4::before {
   content: url('../img/angebot/Haken.svg');
   padding-right: .75rem;
 }
