.header-overflow {
   width: 100vw;
   overflow: hidden;
   position: relative;
   left: -150px;
}


.header-pic-subpage {
    overflow: hidden;
    max-width: 100%; /* Adjust as needed */
    right: -160px;
 }

 .header img {
   position: relative;
   right: -300px;
 }


 .funktion {
    max-width: 50%;
    
    @media (max-width: 650px) {
      max-width: 100%;}
 }

 .vorteil {
    padding: 12px 0px;
 }

 .vorteil h4 {
   margin: 0;
 }
 .vorteil h4::before {
   content: url('../img/angebot/Haken.svg');
   padding-right: .75rem;
 }