body {
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

main {
    padding: 0px 150px;
    position: relative;
}

@media (max-width: 1200px) {
  main {
  padding: 0 100px;}
}

@media (max-width: 1000px) {
  main {
  padding: 0 50px;}
}

@media (max-width: 650px) {
  main {
  padding: 0 50px;}
}

@media (max-width: 420px) {
  main {
  padding: 0 20px;}
}



  /* header */
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    position: relative;
    overflow: hidden;
    width: 100vw;
    left: -150px;
  }

  @media (max-width: 1200px) {
    .header {
    left: -100px;}
  }

  @media (max-width: 1000px) {
    .header {
    flex-wrap: wrap;
    left: -50px;}
  }

  @media (max-width: 650px) {
    .header {
    left: -50px;}
  }

  @media (max-width: 420px) {
    .header {
    left: -20px;}
  }


  .header-text {
    max-width: 50%;
    padding-left: 150px;
  }

  @media (max-width: 1200px) {
    .header-text {
    padding-left: 100px;}
  }

  @media (max-width: 1000px) {
    .header-text {
    max-width: 100%;
    padding: 0 50px;}
  }

  @media (max-width: 650px) {
    .header-text {
    padding: 0 50px;}
  }

  @media (max-width: 420px) {
    .header-text {
    padding: 0 20px;}
  }


@media (max-width: 1000px) {
  img.hero {
      max-width: 60vw;}
}

    @media (max-width: 640px) {
      img.hero {
      max-width: 80vw;}
    }
    
    @media (min-width: 1000px) {
      img.hero {
      position: relative;
      right: -50px;}
    }
  
  .download-home img {
    width: 40%;}

    @media (max-width: 1000px) {
      .download-home img {
      width: 15vw;}
    }

    @media (max-width: 650px) {
      .download-home img {
      width: 20vw;}
    }

    @media (max-width: 420px) {
      .download-home img {
      width: 30vw;;}
    }
  

  .download-home {
    padding-bottom: 80px;
  }


  /* funktionen teaser */
  .teaser {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    margin-top: 20px;
  }
  @media (max-width: 650px) {
    .teaser {
    display: block;}
  }

  .img-teaser {
    width: 40%;}

  @media (max-width: 650px) {
    .img-we {
    max-width:80vw;}
  }

  .teaser-text {
    max-width: 50%;
  }

  @media (max-width: 650px) {
    .teaser-text {
    max-width: 100%;}
  }

  /* partner */

  .partnerfirmen {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .partner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px 100px;
}

@media (max-width:900px) {
  .partner {
  flex-wrap: wrap;}
  }  

.partnerlogo {
  max-width: 10%;}

  @media (max-width:900px) {
    .partnerlogo {
    max-width: 12%;}
  }
  
  
  @media (max-width:400px) {
  .partnerlogo {
    max-width: 3%;}
  }


.breaker {
  position: relative;
  width: 100vw;
  left: -150px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .breaker {
  left: -100px;}
}

@media (max-width: 1000px) {
  .breaker {
  flex-wrap: wrap;
  left: -50px;}
}

@media (max-width: 650px) {
  .breaker {
  left: -50px;}
}

@media (max-width: 420px) {
  .breaker {
  left: -20px;}
}


@media (max-width: 650px) {
.breaker:before {
  display: none; /* Verstecke das :before-Pseudo-Element */
}
.breaker:after {
  display: none; /* Verstecke das :before-Pseudo-Element */
}
}

.breaker::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 150px;
  right: 0;
  background: linear-gradient(to right, transparent, #222);
  z-index: 1;
}

.breaker::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 150px;
  left: 0;
  background: linear-gradient(to left, transparent, #222);
  z-index: 1;
}

/*.partner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    right: -160px;
    background: linear-gradient(to right, transparent, #222);
}

.partner::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    left: -160px;
    background: linear-gradient(to left, transparent, #222);
}
*/


/*Bewertungen*/
.reviews {
    padding-bottom: 80px;
    padding-top: 80px;
}

.bewertung {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    width: 100vw;
    margin-top: 20px;
    /* carousell? */
    overflow: scroll;
}
@media (max-width: 700px) {
  .bewertung{
  display: block;}
}

.bewertung1 {
    background-color: #333333;
    border-radius: 50px;
    display: flex;
    padding: 35px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 33%;
    margin: 20px;
}

.bewertung1 img {
  max-width: 50vw;
}


/* .bewertung::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    right: -20px;
    background: linear-gradient(to right, transparent, #222);
}

.bewertung::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    left: -20px;
    background: linear-gradient(to left, transparent, #222);
} */


.formular {
  padding-bottom: 80px;
}
