 .header-pic-subpage {
    overflow: hidden;
    max-width: 100%; /* Adjust as needed */
    right: -160px;
 }

 .header-pic-subpage img {
    width: 100%;
    height: auto;
 }

 .funktion {
    max-width: 50%;
 }

 .vorteil {
    padding: 12px 0px;
 }

 .vorteil h4 {
   margin: 0;
 }
 .vorteil h4::before {
   content: url('../img/angebot/Haken.svg');
   padding-right: .75rem;
 }