body {
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

main {
    padding: 0px 150px;
    position: relative;
  
    @media (max-width: 1200px) {
    padding: 0 100px;}

    @media (max-width: 1000px) {
    padding: 0 50px;}

    @media (max-width: 650px) {
    padding: 0 50px;}

    @media (max-width: 420px) {
    padding: 0 20px;}
}





  /* header */
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 0px 150px;
    position: relative;
        
          @media (max-width: 1200px) {
          padding: 0 100px;}
      
          @media (max-width: 1000px) {
          padding: 0 50px;}
      
          @media (max-width: 650px) {
          padding: 0 50px;}
      
          @media (max-width: 420px) {
          padding: 0 20px;}

     @media (max-width: 1000px) {
          display: block;}
  }

  .header-text {
    max-width: 50%;

      @media (max-width: 1000px) {
          max-width: 100%;}
  }

  .header img {
    position: relative;
    right: -300px;
  }

  .download-home{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 35%;

    @media (max-width: 1000px) {
          max-width: 20%;
          padding-bottom: 20px;
      }
  }

  /* funktionen teaser */
  .teaser {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    margin-top: 20px;

    @media (max-width: 650px) {
          display: block;}
  }

  .img-teaser {
    width: 40%;

    @media (max-width: 650px) {
      max-width: 100% vw;}
  }

  .img-we {
    @media (max-width: 650px) {
    max-width:80vw;}
  }

  .teaser-text {
    max-width: 50%;

    @media (max-width: 650px) {
    max-width: 100%;}
  }

  /* partner */

  .partnerfirmen {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .partner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px 100px;
    @media (max-width:900px) {
    flex-wrap: wrap;
    }  
}
.partnerlogo {
  max-width: 10%;
  @media (max-width:900px) {
    max-width: 12%;
  }
  @media (max-width:800px) {
    max-width: 15%;
  }
  @media (max-width:400px) {
    max-width: 3%;
  }
}

/*.partner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    right: -160px;
    background: linear-gradient(to right, transparent, #222);
}

.partner::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    left: -160px;
    background: linear-gradient(to left, transparent, #222);
}
*/


/*Bewertungen*/
.reviews {
    padding-bottom: 80px;
    padding-top: 80px;
}

.bewertung {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    margin-left: -50px;
    width: 100vw;
    margin-top: 20px;

    @media (max-width: 700px) {
      display: block;
    }

    /* carousell? */
    overflow: scroll;

}

.bewertung1 {
    background-color: #333333;
    border-radius: 50px;
    display: flex;
    padding: 35px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 33%;
    margin: 20px;
}


/* .bewertung::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    right: -20px;
    background: linear-gradient(to right, transparent, #222);
}

.bewertung::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    left: -20px;
    background: linear-gradient(to left, transparent, #222);
} */

