body {
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

main {
    padding: 0px 100px 0px 150px;
}

h1 {
    font-family: Montserrat;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: 88px; /* 125.714% */
}

h2 {
    font-family: Montserrat;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 111.111% */
}

h3 {
    font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 140% */
}

h4 {
    font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
}

p {
    font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}
.p-small {
    font-size: 15px;
    line-height: 23px;
}

.p-small-bold {
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
}


/* HEADER */
header {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px; /* Adjust the height as needed */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    gap: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
}

.outline-button {
   display: flex;
   background-color: transparent;
    font-size: 20px;
font-weight: 700;
   color: var(--vibrant-orange, #F4743B);
    cursor: pointer;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 96px;
    border: 3px solid var(--vibrant-orange, #F4743B);
}

.outline-button:hover {
   background-color:#F4743B;
   color: white;
   
}

/*		Footer	*/
#footer-main {
    background-color: #F4743B;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr 2fr 2fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 150px;
  }

  .textlink {
    text-decoration: underline;
  }

  .footernav{
    justify-content: left;
  }

  hr.divider {
    height: 1.5px;
    background-color: #ffffff; /* Farbe der Linie */
    border: none;
    max-width: 80px;
  }

  @media (max-width: 1024px) {
    .footer-grid {
      padding-left: 20px;
    }
  }

  /* App download footer*/
  .app-download {
    background-color: #333333;
    text-align: center;
    padding: 10px;

  }

  .download {
    max-width: 10%;
  }

  .store {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }


  /* header */
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  .header-text {
    max-width: 60%;
  }

  .header-pic img {
    max-width: 100%; /* Adjust as needed */
    height: auto;
  }

  .download-home {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  /* funktionen teaser */
  .fuktionen-teaser {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  .phone img {
    width: 50%;
  }

  .fuktionen-text {
    max-width: 50%;
  }