h1 {
    font-family: Montserrat;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: 88px; /* 125.714% */
margin-bottom: 30px;
}
@media (max-width: 1200px) {
    h1 {
    font-size: 50px;
    line-height: 60px;}
    }

@media (max-width: 650px) {
    h1 {
    font-size: 30px;
    line-height: 40px;}
    }


h2 {
    font-family: Montserrat;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 111.111% */
margin: 10px 0;
}
@media (max-width: 1200px) {
    h2 {
    font-size: 40px;
    line-height: 45px;}
}

@media (max-width: 650px) {
    h2 {
font-size: 28px;
line-height: 35px;}
}

h3 {
    font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 140% */
margin-bottom: 0px;
}
@media (max-width: 1200px) {
    h3 {
    font-size: 20px;
    line-height: 25px;}
}

@media (max-width: 650px) {
    h3 {
font-size: 18px;
line-height: 22px;}
    }

h4 {
    font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
}
@media (max-width: 1200px) {
    h4 {
    font-size: 16px;
    line-height: 20px;}
}

@media (max-width: 650px) {
    h4 {
   font-size: 14px;
    line-height: 18px;}
}

p {
    font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 155.556% */
margin-top: 5px;
}
@media (max-width: 1200px) {
    p {
    font-size: 14px;
    line-height: 20px;}
}

@media (max-width: 650px) {
    p {
    font-size: 12px;
    line-height: 18px;}
}

.p-small {
    font-size: 15px;
    line-height: 23px;
}
@media (max-width: 1200px) {
    .p-small {
    font-size: 13px;
    line-height: 21px;}
}

@media (max-width: 650px) {
    .p-small {
    font-size: 12px;
    line-height: 18px;}
}

.review {
    font-size: 15px;
    line-height: 23px;
    text-align: center;
}
@media (max-width: 1200px) {
    .review {
    font-size: 13px;
    line-height: 21px;
    text-align: center;}
}

@media (max-width: 650px) {
    .review {
    font-size: 12px;
    line-height: 18px;}
}

.p-small-bold {
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
    padding: 0;
}
@media (max-width: 1200px) {
    .p-small-bold {
    font-size: 13px;
    line-height: 21px;}
}

@media (max-width: 650px) {
    .p-small-bold {
    font-size: 12px;
    line-height: 18px;}
}

.centered {
    text-align: center;
}

.button-grey {
    display: flex;
    background-color: #333333;
     font-size: 20px;
    font-weight: 700;
    color: white;
     cursor: pointer;
     padding: 10px 20px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border-radius: 96px;
     border: none;
 }
    @media (max-width: 1200px) {
    .button-grey {
    font-size: 14px;
    padding: 10px 20px;
     border-radius: 96px;}
 }

    @media (max-width: 650px) {
    .button-grey {
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 96px;}
}
 
 .button-grey:hover {
    background-color:#000;
    color: white;
 }
