
body {
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
    color: white;
    max-width: 100%;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

main {
    padding: 0px 150px;
    position: relative;
}

h1 {
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
    width: 554px;
    height: 264px;
    top: 172px;
    left: 150px;
    transform: translateX(150px);

}

h2 {
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}
.h2-werte {
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    transform: translateX(150px);
}


h3 {
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 0px;
}

h4 {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

p {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.p-titel {
    Width: 554px;
    Height: 112px;
    Top: 462px;
    Left: 150px;
    transform: translateX(150px);
}

.p-small {
    font-size: 15px;
    line-height: 23px;
}

.review {
    font-size: 15px;
    line-height: 23px;
    text-align: center;
}

.p-small-bold {
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
}

.centered {
    text-align: center;
}

/* Nav Section */
header {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    gap: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
}
.button-grey {
    display: flex;
    background-color: #333333;
     font-size: 20px;
    font-weight: 700;
    color: white;
     cursor: pointer;
     padding: 10px 20px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border-radius: 96px;
     border: none;
     margin-top: 50px;
     transform: translateX(150px);
 }
 
 .button-grey:hover {
    background-color:#000;
    color: white;
 }
.outline-button {
    display: flex;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    color: var(--vibrant-orange, #F4743B);
    cursor: pointer;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 96px;
    border: 3px solid var(--vibrant-orange, #F4743B);
}

.outline-button:hover {
    background-color: #F4743B;
    color: white;
}

/* Team Container for GIF Hover Effect */
.team-container {
    display: flex;
    justify-content: space-evenly; /* Stellt die gleichmäßige Verteilung sicher */
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.team-member {
    width: 366px; /* Breite jedes Team-Mitglieds */
    text-align: center;
}

.image-container {
    position: relative;
    height: 458px; /* Höhe der Bilder */
}

.team-member img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.static-image {
    opacity: 1;
}

.hover-gif {
    opacity: 0;
    border-radius: 20px;
}

.image-container:hover .static-image {
    opacity: 0;
}

.image-container:hover .hover-gif {
    opacity: 1;
}

/* Stil für das Video-Container */
.content-container {
    display: flex;
    align-items: flex-start; /* Elemente oben ausrichten */
    justify-content: space-between; /* Abstand zwischen den Elementen */
    margin: 20px; /* Optionaler Außenabstand */
}

.text-container {
    flex: 1; /* Flexibilität des Textcontainers */
    margin-right: 20px; /* Optionaler rechter Abstand */
    text-align: left;
}

.text-container h3 {
    margin-bottom: 0%; /* Verringert den Abstand nach unten */
}

.text-container p {
    margin-top: 0; /* Verringert den Abstand nach oben */
}

.video-container {
    flex: 1; /* Flexibilität des Videocontainers */
    position: relative;
    padding-bottom: 56.25%; /* Aspect Ratio 16:9 */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* partner */

.partnerfirmen {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .partner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    position: relative;
    @media (max-width:900px) {
      flex-wrap: wrap;
    }
}

.partner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    right: -160px;
    background: linear-gradient(to right, transparent, #222);
}

.partner::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    left: -160px;
    background: linear-gradient(to left, transparent, #222);
}

  .partnerlogo {
    max-width: 10%;
  }


  .werte-container {
    display: flex;
    margin: 0 150px; /* 150px Abstand von links und rechts */
    gap: 20px; /* 20px Abstand zwischen den Containern */
    margin-bottom: 138px;
}

.wert-container {
    background: var(--cold-grey, #333);
    border-radius: 20px;
    padding: 20px;
    flex-grow: 1; /* Erlaubt den Containern zu wachsen, um den verfügbaren Platz zu füllen */
    flex-basis: 0; /* Setzt die Basisgröße der Container auf 0, sodass sie gleichmäßig wachsen */
    display: flex; /* Aktiviert Flexbox innerhalb des Containers */
    flex-direction: column; /* Stapelt die Inhalte vertikal */
    justify-content: center; /* Zentriert Inhalte vertikal */
    align-items: center; /* Zentriert Inhalte horizontal */
    text-align: center; /* Zentriert den Text innerhalb von Blockelementen (wie <p>) */
}
/* Footer Section */
#footer-main {
    background-color: #F4743B;
}

.footer-container {
    display: flex;
    max-width: 100%;
    padding: 40px 150px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    gap: 20px;
}

.textlink {
    text-decoration: underline;
}

hr.divider {
    height: 1.5px;
    background-color: #ffffff;
    border: none;
    max-width: 80px;
}

.smicon {
    max-width: 30px;
}

.footer-logo {
    flex: 4;
}

.footerlogo {
    max-width: 75%;
}

.footer-contact {
    flex: 3;
}

.footernav {
    flex: 3;
}

.footerlinks {
    flex: 2;
}

@media (max-width: 1024px) {
    .footer-container {
        padding-left: 20px;
    }
}

/* App Download Footer */
.app-download {
    background-color: #333333;
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}

.download {
    max-width: 10%;
}

.store {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.header-text {
    max-width: 50%;
}

.header-pic img {
    max-width: 100%;
    height: auto;
}

.download-home {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 35%;
}

/* Bewertungen */
.reviews {
    padding-bottom: 80px;
    padding-top: 80px;
}

.bewertung {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    position: relative;
    margin: 0px -150px;
}

.bewertung1 {
    background-color: #333333;
    border-radius: 50px;
    display: flex;
    padding: 35px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 33%;
}

.bewertung::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    right: -20px;
    background: linear-gradient(to right, transparent, #222);
}

.bewertung::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    left: -20px;
    background: linear-gradient(to left, transparent, #222);
}